 /*TaskForm*/

  /* Campo de Texto */
  
  .taskinput {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 6px 0 0 6px;
    outline: none;
    color: black;
  }
  
  /* Boton Agregar Tarea */
  
  .buttont {
    padding: 16px;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    outline: none;
    height: 50px;
    background: #d32097;
    color: #fff;
    text-transform: capitalize;


  }



  /* Media query  */
@media (max-width: 768px) {
  .taskinput {
    width: 180px;
    font-size: 18px;
  }
  .buttont {
    width: 120px;
    height: 50px;
    font-size: 16px;

  }


}
@media (max-width: 500px) {
  .taskinput {
    width: 260px;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 5px;
  }
  .buttont {
    width: 150px;
    height: 50px;
    font-size: 16px;
    margin-left: 45px;
    border-radius: 6px;
    

  }


}
